# Secrets / env
.env
.env.local
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/

# Node / Next.js
node_modules/
.next/
out/
npm-debug.log*

# ML artifacts
*.pkl
*.joblib

# Exception : while phase 1 of the project
!backend/model.pkl

# OS / IDE
.DS_Store
.vscode/
.idea/

# Other
data/*.csv

ml/db_dvf_plus/dumps/*
!ml/db_dvf_plus/dumps/.gitkeep